{% extends "schemas_customers/main_public.html" %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
  {{ block.super }}

  <h1 class="mb-4">{% trans "Create your website" %}</h1>

  <form method="post" id="createForm">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}

        {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
          <small class="form-text text-muted">
            {{ field.help_text }}
          </small>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" id="submitBtn">{% trans 'Submit' %}</button>
  </form>

  <p class="d-none breadcrumb breadcrumb-warning" id="submittedMsg">
    {% trans "Please be patient, this will take a while." %}
  </p>
{% endblock %}

{% block finaljs %}
<script src="{% static "schemas_customers/js/client_create.js" %}" defer></script>
{% endblock %}
